.is-boxed {
    background: color(bg, 3);
}

.body-wrap {
    background: color(bg, 2);
    overflow: hidden;
    /* Sticky footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.boxed-container {
    max-width: 1440px;
    margin: 0 auto;
    @include shadow;
    mix-blend-mode: normal;
}

main {
    flex: 1 0 auto;
}

.section-inner {
    position: relative; /* To always display inner elements above pseudo decorative stuff */
    padding-top: 48px;
    padding-bottom: 48px;
}

@include media( '>medium' ) {

    .section-inner {
        padding-top: 88px;
        padding-bottom: 88px;
    }
}

.larger {
    margin-bottom: 32px;
    text-align: center;

    > span {
        display: inline-block;
        font-size: 48px;
        color: #59cb8f;
        text-shadow: 0 0 5px #59cb8f;
        line-height: 1;
        animation: rotation 3s linear infinite;
    }
}

@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}
