.is-boxed {
    background: lighten(color(bg, 1), 8%);
}

.body-wrap {
    background: color(bg, 1);
    overflow: hidden;
    /* Sticky footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.boxed-container {
    max-width: 1440px;
    margin: 0 auto;
    @include shadow;
}

main {
    flex: 1 0 auto;
}

.section-inner {
    position: relative; /* To always display inner elements above pseudo decorative stuff */
    padding-top: 48px;
    padding-bottom: 48px;
}

@include media( '>medium' ) {

    .section-inner {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.input-email {
    padding: 6px;
}

.input-email:disabled {
    color: #ccc;
}

.button-submit:disabled {
    background: #ccc;
    cursor: wait;
}

.legend {
    display: none;
}

.small-title {
    margin-top: 12px;
    font-size: 16px;
    line-height: 18px;
}

.sponsors-wrap {
    align-items: center;
    justify-content: center;
}
.sponsor img {
    margin: 0 auto;
}

.twitter {
    margin-left: 20px;
    display: inline-block;
}

.rounded {
    border-radius: 50%;
    border: 3px solid #666;
}

.inline-block {
    display: inline-block;
}
